.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 25px
}

.crossed {
    text-decoration: line-through;
    color: lightgray;
}

.listitem_wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
}