* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0efe9;
    height: 100vh;
}

.container {
    width: 500px;
    box-shadow: 1px 1px 10px lightgrey;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    padding: 30px;
}